# Apache2 2.4 uses Require
<RequireAll>
 Require all granted
 Require not ip 193.42.33.5
</RequireAll>

Options +Includes

Header set Access-Control-Allow-Origin "*"
# Use X-Robots-Tag to prevent indexing.
Header set X-Robots-Tag "noindex, nofollow"

SetEnv SITELOAD /var/www/vendor/bartonlp/site-class/includes
SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php

# for sendgrid
SetEnv SENDGRID_API_KEY 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
SetEnv SPARKPOST_API_KEY aad6254ffc1e42ab9163c11ec10e2be7e750113d
#

RewriteEngine on
# Don't allow these robots
RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]

# direct robots.txt to robots.php
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# rewrite the address of csstest.css to tracker.php?id=$1&csstest
RewriteRule ^csstest-(.*)\.css$ https://bartonlp.com/otherpages/tracker.php?id=$1&page=csstest [L,QSA]

