<RequireAll>
 Require all granted
</RequireAll>

Options +Includes

Header set Access-Control-Allow-Origin "*"

RewriteEngine on
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]
RewriteRule ^csstest-(.*)\.css$ https://bartonlp.com/otherpages/tracker.php?id=$1&page=csstest [L,QSA]
